body {
    background-color: rgb(201, 201, 201);
    text-align: center;
}

div {
    background-color: gray;
    max-width: 30%;
    margin-left: 35%;
    font-size: 25px;
}

input {
    font-size: 15px;
}